<a href="https://colab.research.google.com/github/YujinJI/Python_Programming/blob/master/Ch01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.1 자신의 컴퓨터에 파이썬을 설치하자. 그리고 파이썬 인터프리터의 버전을 윈도우 명령 처리기 혹은 유닉스 터미널에서 확인해보자. 어떤 명령을 통해 확인 가능할까?( 힌트 : python -h 로 파이썬 명령어의 옵션을 통해 확인해 보자)

In [0]:
!python --version

Python 3.6.8

## 1.2 ‘Welcome to Python!!’ 을 5줄에 걸쳐 출력하는 코드를 만들어 보자. 이 코드를 포함한 파일을 welcome5.py라고 정하고 파이썬 인터프리터에서 수행시켜 보시오

In [0]:
print('Welcome to Python!!')
print('Welcome to Python!!')
print('Welcome to Python!!')
print('Welcome to Python!!')
print('Welcome to Python!!')

Welcome to Python!!
Welcome to Python!!
Welcome to Python!!
Welcome to Python!!
Welcome to Python!!

## 1.3 다음과 같은 출력이 되도록 intro.py라는 프로그램을 작성한 후 파이썬 인터프리터에서 수행시켜 보시오.

In [0]:
print('*****************************')
print('안녕하세요')
print('저는 지유진입니다')
print('창원대학교 정보통신공학과 1학년입니다')
print('*****************************')

*****************************
안녕하세요
저는 지유진입니다
창원대학교 정보통신공학과 1학년입니다
*****************************

## 1.4 다음과 같은 출력이 되도록 triangle.py라는 프로그램을 작성한 후 파이썬 인터프리터에서 수행시켜 보시오.

In [0]:
print('    *')
print('   ***')
print('  *****')
print(' *******')

    *
   ***
  *****
 *******

## 1.5 다음과 같은 출력이 되도록 rev_triangle.py라는 프로그램을 작성한 후 파이썬 인터프리터에서 수행시켜 보시오.

In [0]:
print('*******')
print(' *****')
print(' *****')
print('  ***')
print('   *')

*******
 *****
 *****
  ***
   *

## 1.6 파이썬 대화창을 이용하여 다음과 같은 수식 계산을 해 보도록 하자.
### 1) 400 - 200
### 2) 45 * 89
### 3) 32 / 8

In [0]:
400 - 200

200

In [0]:
45 * 89

4005

In [0]:
32 / 8

4.0

## 1.7 파이썬 대화창을 이용하여 다음과 같은 수식 계산을 해 보도록 하자.

### 1) 1에서 10까지 자연수의 합

In [0]:
1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10

55

### 2) 반지름의 길이가 5인 원의 둘레(원주율 파이는 3.14로 두고 계산할 것)

In [0]:
2 * 3.14 * 5

31.400000000000002

### 3) 한 변의 길이가 25인 정사각형의 둘레

In [0]:
25 * 4

100

### 4) 한 변의 길이가 25인 정사각형의 면적

In [0]:
25 * 25

625

### 5) 높이가 10이고 밑변이 30인 직사각형의 둘레

In [0]:
(10 * 2) + (30 * 2)

80

### 6) 높이가 10이고 밑변이 30인 직사각형의 면적

In [0]:
10 * 30

300

## 1.8 자동차를 이용하여 시속 80km의 속력으로 1시간 30분을 달렸을 때 총 주행거리를 계산하여라.(단 거리는 (속력) * (시간)으로 구한다)

In [0]:
80 * 1.5

120.0

## 1.9 자동차를 이용하여 2시간동안 190km를 이동하였다. 평균 속력을 계산하여라.

In [0]:
190 / 2

95.0

## 1.10 태양과 지구의 평균 거리는 빛의 속도로 149,597,870.7 km로 정의되어 있다. 빛이 1초에 299,792 km를 이동한다고 가정할 때 태양에서 출발한 빛이 지구에 도착하는 시간을 초단위로 계산하여라.

In [0]:
149597870.7/299792

499.00554617868386