<a href="https://colab.research.google.com/github/YujinJI/Python_Programming/blob/master/Ch05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5.1

In [0]:
plu = 0
mi = 0
sum = 0
avg = 0
num = int(input('정수를 입력하세요. 입력값이 0이면 종료됩니다: '))
if num == 0:
  print('아무 숫자도 입력하지 않았습니다.')

while num != 0:
  num = int(input('정수를 입력하세요. 입력값이 0이면 종료됩니다: '))
  if num > 0:
    plu += 1
  if num < 0:
    mi += 1
  sum += num
  avg = sum / (plu + mi)
print('양수의 개수는 {}개 입니다.'.format(plu))
print('음수의 개수는 {}개 입니다.'.format(mi))
print('총합은 {}입니다.'.format(sum))
print('평균은 {}입니다.'.format(avg))

정수를 입력하세요. 입력값이 0이면 종료됩니다: 4
정수를 입력하세요. 입력값이 0이면 종료됩니다: 7
정수를 입력하세요. 입력값이 0이면 종료됩니다: -3
정수를 입력하세요. 입력값이 0이면 종료됩니다: 3
정수를 입력하세요. 입력값이 0이면 종료됩니다: 0
양수의 개수는 2개 입니다.
음수의 개수는 1개 입니다.
총합은 7입니다.
평균은 2.3333333333333335입니다.

In [0]:
plu = 0
mi = 0
sum = 0
avg = 0
num = int(input('정수를 입력하세요. 입력값이 0이면 종료됩니다: '))
if num > 0:
    plu += 1
if num < 0:
    mi += 1
if num == 0:
  print('아무 숫자도 입력하지 않았습니다.')

while num != 0:
  num = int(input('정수를 입력하세요. 입력값이 0이면 종료됩니다: '))
  if num > 0:
    plu += 1
  if num < 0:
    mi += 1
  sum += num
  avg = sum / (plu + mi)
print('양수의 개수는 {}개 입니다.'.format(plu))
print('음수의 개수는 {}개 입니다.'.format(mi))
print('총합은 {}입니다.'.format(sum))
print('평균은 {}입니다.'.format(avg))

정수를 입력하세요. 입력값이 0이면 종료됩니다: 1
정수를 입력하세요. 입력값이 0이면 종료됩니다: 2
정수를 입력하세요. 입력값이 0이면 종료됩니다: 3
정수를 입력하세요. 입력값이 0이면 종료됩니다: -3
정수를 입력하세요. 입력값이 0이면 종료됩니다: 0
양수의 개수는 3개 입니다.
음수의 개수는 1개 입니다.
총합은 3입니다.
평균은 0.75입니다.

5.2

In [0]:
import random
import time
correctCount = 0
count = 0
NUMBER_OF_QUESTIONS = 10

startTime = time.time()

while count < NUMBER_OF_QUESTIONS:
  num1 = random.randint(1,100)
  num2 = random.randint(1,100)
    
  answer = eval(input('{} + {} 는 얼마입니까?'.format(num1,num2)))
  
  if num1 + num2 == answer:
    print('정답입니다!')
    correctCount += 1
  else:
    print('틀렸습니다.\n {} + {} 는, {}입니다.'.format(num1,num2,num1+num2))
  
  count += 1

endTime = time.time()
testTime = int(endTime - startTime)
print('정답의 개수는 {}개 중 {}개입니다.\n수행시간은 {}초 입니다.'.format(NUMBER_OF_QUESTIONS,correctCount,testTime))

79 + 59 는 얼마입니까?138
정답입니다!
77 + 40 는 얼마입니까?117
정답입니다!
59 + 19 는 얼마입니까?82
틀렸습니다.
 59 + 19 는, 78입니다.
57 + 31 는 얼마입니까?88
정답입니다!
5 + 64 는 얼마입니까?69
정답입니다!
8 + 40 는 얼마입니까?48
정답입니다!
60 + 45 는 얼마입니까?105
정답입니다!
73 + 17 는 얼마입니까?90
정답입니다!
3 + 52 는 얼마입니까?55
정답입니다!
12 + 95 는 얼마입니까?107
정답입니다!
정답의 개수는 10개 중 9개입니다.
수행시간은 28초 입니다.

5.3

In [0]:
kg = 0
print('킬로그램        파운드')
for i in range(4):
  kg = kg + 1
  pound = kg * 2.2
  print('{}             {}'.format(kg,pound))

킬로그램        파운드
1             2.2
2             4.4
3             6.6000000000000005
4             8.8

5.4

In [0]:
mile = 0
print('마일        킬로미터')
for i in range(4):
  mile = mile + 1
  km = mile * 1.609
  print('{}          {}'.format(mile,km))

마일        킬로미터
1          1.609
2          3.218
3          4.827
4          6.436

5.5

In [0]:
kg = 0
pound1 = 0
print('킬로그램        파운드 ㅣ 파운드       킬로그램')
for i in range(4):
  kg = kg + 1
  pound = kg * 2.2
  pound1 += 1
  kg1 = pound1 * 0.45
  print('{0:1.2f}{1:14.2f} ㅣ {2:1.2f}{3:12.2f}'.format(kg,pound,pound1,kg1))

킬로그램        파운드 ㅣ 파운드       킬로그램
1.00          2.20 ㅣ 1.00        0.45
2.00          4.40 ㅣ 2.00        0.90
3.00          6.60 ㅣ 3.00        1.35
4.00          8.80 ㅣ 4.00        1.80

5.6

In [0]:
mile = 0
km1 = 0
print('마일         킬로미터 ㅣ 킬로미터       마일')
for i in range(4):
  mile += 1
  km = mile * 1.609
  km1 += 1
  mile1 = km1 * 0.621
  print('{0:1.2f}{1:12.2f}  ㅣ {2:1.2f}{3:13.2f}'.format(mile,km,km1,mile1))

마일         킬로미터 ㅣ 킬로미터       마일
1.00        1.61  ㅣ 1.00         0.62
2.00        3.22  ㅣ 2.00         1.24
3.00        4.83  ㅣ 3.00         1.86
4.00        6.44  ㅣ 4.00         2.48

5.7

In [0]:
import math
a = -10
print('각도         sin            cos')
for i in range(0,370,10):
  i = math.radians(i)
  value = math.sin(i)
  value1 = math.cos(i)
  a += 10
  print(a,      '{0:15.4f}{1:15.4f}'.format(value,value1))

각도         sin            cos
0          0.0000         1.0000
10          0.1736         0.9848
20          0.3420         0.9397
30          0.5000         0.8660
40          0.6428         0.7660
50          0.7660         0.6428
60          0.8660         0.5000
70          0.9397         0.3420
80          0.9848         0.1736
90          1.0000         0.0000
100          0.9848        -0.1736
110          0.9397        -0.3420
120          0.8660        -0.5000
130          0.7660        -0.6428
140          0.6428        -0.7660
150          0.5000        -0.8660
160          0.3420        -0.9397
170          0.1736        -0.9848
180          0.0000        -1.0000
190         -0.1736        -0.9848
200         -0.3420        -0.9397
210         -0.5000        -0.8660
220         -0.6428        -0.7660
230         -0.7660        -0.6428
240         -0.8660        -0.5000
250         -0.9397        -0.3420
260         -0.9848        -0.1736
270         -1.0000        -0.0000
280         -0.9848         0.1736
290         -0.9397         0.3420
300         -0.8660         0.5000
310         -0.7660         0.6428
320         -0.6428         0.7660
330         -0.5000         0.8660
340         -0.3420         0.9397
350         -0.1736         0.9848
360         -0.0000         1.0000

5.8

In [0]:
import math
print('숫자     제곱근')
for i in range(0,21,1):
  print(i, '{0:12.4f}'.format(math.sqrt(i)))

숫자     제곱근
0       0.0000
1       1.0000
2       1.4142
3       1.7321
4       2.0000
5       2.2361
6       2.4495
7       2.6458
8       2.8284
9       3.0000
10       3.1623
11       3.3166
12       3.4641
13       3.6056
14       3.7417
15       3.8730
16       4.0000
17       4.1231
18       4.2426
19       4.3589
20       4.4721

5.9

In [0]:
tuition = 1000000
increase = 0
for i in range(10):
  increase = tuition * 0.05
  tuition = increase + tuition
print('10년 후 등록금 = {0:1.0f}'.format(tuition))

10년 후 등록금 = 1628895

In [0]:
tuition = 1000000
increase = 0
s = 0
for i in range(10):
  increase = tuition * 0.05
  tuition = increase + tuition
  s += tuition
print('10년 동안 등록금 = {0:1.0f}'.format(s))

10년 동안 등록금 = 13206787

5.10

5.11

In [0]:
max1 = 0

num = int(input("학생수를 입력하세요: "))
for i in range(1,num+1):
  score = int(input("학생{} 점수를 입력하세요 :".format(i)))
  max1 = score
if max1 > score:
  print("최고점수는 {}".format(max1))

학생수를 입력하세요: 3
학생1 점수를 입력하세요 :11
학생2 점수를 입력하세요 :33
학생3 점수를 입력하세요 :22

5.12

In [0]:
for i in range(100,201,1):
  if (i % 5 == 0) or (i % 6 == 0) or (i % 30 == 0):
    print(i,end=" ")

100 102 105 108 110 114 115 120 125 126 130 132 135 138 140 144 145 150 155 156 160 162 165 168 170 174 175 180 185 186 190 192 195 198 200

5.13

In [0]:
for i in range(100,201,1):
  if i % 5 == 0 or i % 6 == 0:
    print(i,end=" ")

100 102 105 108 110 114 115 120 125 126 130 132 135 138 140 144 145 150 155 156 160 162 165 168 170 174 175 180 185 186 190 192 195 198 200